# .env

# This is a template for the environment variables file.
# Copy this file to .env and fill in the values.

# Key to encrypt the cookies
# Make sure to set this to a strong, random value
# You can generate a random string using a tool like OpenSSL:
# openssl rand -base64 32
SESSION_SECRET=your_session_secret_here

# Base URL for the API
API_BASE_URL=http://localhost:3000


# Base path for the application
# This is useful if your application is served from a subdirectory
# For example, if your app is served from http://example.com/content-administrator/app
# set this to /legal-ecosystem/app
NEXT_PUBLIC_BASE_PATH=/content-administrator/app

EMAIL_USER=tu_correo_personal_o_soporte
EMAIL_PASSWORD=tu_contraseña_o_app_password
